<!DOCTYPE HTML>
<html>
<head>
    <title>Your first Spring application</title>
    <meta http-equiv="Content-Type" content="application/json" />
</head>
<body>
<form action="/login" method="POST" id="credentials">
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <button>Sign in</button>
    </div>
</form>
</body>
</html>